code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353535;
}

/*Homepage*/
home {
  padding: 10px 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-box {
  padding-top: 50px;
}

/*Navigation Bar*/
nav {
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
  background-color: #1a1a1a;
  position: sticky;
  top: 0;
}

.navbar-title{
  min-width: 250px;
  padding: 0px 16px;
  color: white;
}

.navbar-options{
  float: inline-end;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  background-color: #2b2b2b;
  min-width: 310px;
  width: 34%;
}

.navbar-option {
  float: right;
  padding: 16px 32px;
  background-color: #2b2b2b;
  text-decoration: none;
  color: white;
}

.navbar-social-media{
  padding: 10px 12px;
}

.navbar-social-media > a > img {
  float: right;
  text-decoration: none;
  color: white;
  max-width: 32px;
}

.navbar-dropdown > a {
  float: right;
  padding: 16px 32px;
  background-color: #2b2b2b;
  text-decoration: none;
  color: white;
}

.navbar-options > li a:hover {
  background-color: rgb(156, 0, 0);
}

.navbar-logo {
  max-width: 100px;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
  background-color: #2b2b2b;
  text-decoration: none;
  color: white;
}

.navbar-dropdown-content {
display: none;
top: 99%;
left: -60%;
position: absolute;
background-color: rgba(0,0,0,0);
min-width: 160px;
z-index: 1;
color: rgb(255, 255, 255);
}

.navbar-dropdown-content > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.navbar-dropdown-content > ul > li {
  float: left;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar-dropdown-content > ul > li > a {
  width: 160px;
  float: left;
  display: block;
  padding: 16px;
  background-color: #2b2b2b;
  text-decoration: none;
  color: white;
}

.navbar-dropdown:hover .navbar-dropdown-content {
display: block;
}

/*Main*/